.education {
  height: 800px;
  overflow: hidden;
}

.schoolSpotlight {
  display: flex;
  flex-direction: column;
}

.spotlight {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spotlight h3 {
  color: rgba(136, 136, 136, 0.75);
}
.spotlight p span {
  color: rgba(136, 136, 136, 1);
}

.carousel {
  position: relative;
  height: 800px;
  margin-top: 30px;
}

.schoolTile {
  height: 100%;
  transition: left 0.5s ease-in-out, width 0.5s ease-in-out,
    opacity 0.5s ease-in-out;
  box-shadow: -5px 0px 5px #888;
  position: none;
}
