.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  color: #fff;
  text-shadow: 1px 0 5px #333;
  background-image: url("/welcome/mountains.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.welcome p {
  --p-margin: 100px;
  margin-top: var(--p-margin);
  margin-left: var(--p-margin);
  margin-right: var(--p-margin);
  max-width: calc(100% - 2 * var(--p-margin));
  word-wrap: break-word;
}

.welcome p span {
  opacity: 0;
  animation: typewrite 0.1s forwards;
  font-size: 1.35rem;
}

@keyframes typewrite {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
