.logo_container {
  position: absolute;
  z-index: 9999;
  padding-top: 3%;
  padding-left: 3%;
  padding-right: 3%;
  width: 94%;
  display: flex;
  align-items: center;
}

.logo_logo {
  height: 39px;
  width: 44px;
  fill: var(--ecv-light-green);
  stroke-width: 10;
  stroke: var(--ecv-light-green);
  transition: scale 0.3s ease-in;
}

.logo_logo:hover {
  stroke: var(--ecv-green);
  transition: scale 0.3s linear;
}
.logo_logo:hover:active {
  fill: var(--ecv-green);
  scale: 0.8;
}

.logo_email {
  text-decoration: none;
  color: var(--ecv-light-green);
  padding-left: 33px;
  font-size: 1.8em;
  letter-spacing: 0.3em;
}
.logo_email:hover {
  text-decoration: underline;
}
.logo_email:hover:active {
  color: var(--ecv-green);
}
