html {
  overflow: auto auto;

  --ecv-green: rgb(34, 139, 34);
  --ecv-light-green: rgba(34, 139, 34, 0.3);

  --ecv-font: #cccccc;
}
body {
  margin: 0;
  padding: 0;
  height: auto;
  color: var(--ecv-font);
}

/* width */
::-webkit-scrollbar {
  display: none;
}
