.main {
  background-color: green;
}

.section1 {
  height: 450px;
  background-color: green;
}
.section2 {
  height: 450px;
  background-color: red;
}
.section3 {
  height: 350px;
  background-color: blue;
}
