.welcome_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 11vh 6.6vw 11vh 6.6vw;
  background-color: #e7e7e7;
}
.welcome_pic {
  position: relative;
  width: 30%;
  visibility: hidden;
}
.welcome_pic > img {
  filter: drop-shadow(10px -10px 20px var(--ecv-green));
}

@keyframes welcome_pic_appear {
  0% {
    visibility: visible;
    bottom: -6%;
    opacity: 0;
  }
  100% {
    visibility: visible;
    bottom: 0;
    opacity: 1;
  }
}

.welcome_typewriter {
  margin: 0;
  width: 68.9%;
  padding-right: 2.2%;
  line-height: 3rem;
  font-size: 2rem;
  text-align: justify;
}

@keyframes typewriter_char {
  0% {
    visibility: visible;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

.welcome_pic > img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  object-fit: contain;
  fill: transparent;
  background-color: transparent;
}
