.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: calc(var(--hamburguer-height) + 2 * var(--hamburguer-margin));
}
.header > section:first-child {
  margin: var(--hamburguer-margin);
}

.header > section:last-child {
  flex-grow: 1;
}
