.nav {
  position: fixed;
  z-index: 999;
  height: 100%;
  width: 5%;
  top:0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding-inline-start: 0px;
}

.nav ul li {
  text-decoration: none;
  padding-inline-end: 1em;
}

.nav ul li a {
  text-decoration: none;
  color: #eeeeee;
  font-size: 1em;
} */

.progress_bar {
  height: 33%;
  width: 2px;
  padding-left: 5%;
  background: rgb(37, 155, 123);
}
.progress_bar div{
  height: 100%;
  background: rgb(37, 155, 123);
  transform-origin: 0% 0%;
}
