.container {
  height: 100vh;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  display: flex;
  box-shadow: 0 4px 10px 2px black;
}

.progress_track {
  position: absolute;
  width: 2px;
  background-color: var(--ecv-light-green);
  left: 3.33%;
  top: 44%;
  height: 12%;
  z-index: 9999;
  display: flex;
  flex-direction: column;
}
.progress_thumb {
  background-color: var(--ecv-green);
  transform-origin: top;
}
