.welcome_container {
  width: 85%;
  padding-left: 15%;
  height: 93%;
  padding-top: 7%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.welcome_type {
  width: fit-content;
}

.welcome_pic {
  position: absolute;
  right: 10vw;
  bottom: 10vh;
  width: fit-content;
  filter: drop-shadow(4px 10px 10px #333);
  scale: 0.49;
  transform-origin: bottom right;
  opacity: 0;
  transition: opacity 2.5s linear, transform 2.5s linear;
}

.welcome_pic_visible {
  opacity: 1;
  transform: translateY(-50px);
}

/* Set up the basic styling */
.welcome_p {
  position: relative;
  overflow: hidden; /* hide overflowing text */
  white-space: nowrap; /* prevent line breaks */
  letter-spacing: 0.15em; /* add a slight space between letters */
  font-size: 1.9vw;
}

/* Define the typing animation */
@keyframes typing {
  from {
    width: 0; /* start with no width */
  }
  to {
    width: 100%; /* animate to full width */
  }
}
