.container {
  z-index: 2;
  background-color: rgb(32, 33, 35);
  width: calc(100% - 13.2vw);
  padding: 11vh 6.6vw 11vh 6.6vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spotlight {
  height: 78%;
  max-height: 1200px;
  max-width: 1500px;
  width: 87%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  --spotlight-white: 256, 256, 256;
  color: rgba(var(--spotlight-white), 0.44);
}

.title {
  width: 70%;
  min-height: 10%;
  display: flex;
  align-items: center;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 6px;
}

.buttons {
  width: 30%;
  min-height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--ecv-light-green);
}

.buttons > svg:hover {
  filter: drop-shadow(0 0 3px var(--ecv-green));
}

.buttons > svg:hover:active {
  filter: drop-shadow(0 0 10px var(--ecv-light-green));
  fill: var(--ecv-green);
}

.left_arrow {
  transform: scaleX(-1) scale(0.4);
}
.left_arrow:active {
  transform: scaleX(-1) scale(0.4) translateX(10px);
}

.right_arrow {
  transform: scale(0.4);
}

.right_arrow:active {
  transform: scale(0.4) translateX(10px);
}

.arrow_text {
  letter-spacing: 2px;
}

.project_viewer {
  width: 100%;
  height: 90%;
  word-spacing: 6px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  border-radius: 30px;
  box-shadow: -6px -6px 10px rgba(52, 53, 55, 0.7), 6px 6px 10px #070708;
}

.slide {
  width: 100%;
  min-width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  transition: transform 0.5s ease-out;
}

.slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide > div > h1 {
  margin: 0;
  padding: 2% 3%;
  letter-spacing: 5px;
  color: rgba(var(--spotlight-white), 0.8);
  text-shadow: 5px 5px 5px #000;
  font-size: 3em;
}

.slide > div > p {
  margin: 0;
  padding: 0 3%;
  font-size: 1.21em;
  word-wrap: break-word;
  text-align: center;
}

.slide > div:nth-child(1) {
  width: 100%;
  height: 10%;
}

.slide > div:nth-child(2) {
  width: 100%;
  height: 6%;
}
.slide > div:nth-child(3) {
  width: 100%;
  height: 65%;
  padding-top: 20px;
}
.slide > div:nth-child(4) {
  width: 100%;
  height: 20%;
}

/* todo definir o que por aqui */
.slide > div:nth-child(3) > div:nth-child(even) {
  width: 50%;
  height: 100%;
  color: rgba(var(--spotlight-white), 0.74);
  padding-right: 50px;
  text-align: justify;
  display: flex;
  flex-direction: column;
  letter-spacing: 1px;
}
.slide > div:nth-child(3) > div:nth-child(odd) {
  width: 50%;
  height: 100%;
  color: rgba(var(--spotlight-white), 0.74);
}

.project_pic {
  margin-top: 30px;
  margin-left: 50px;
  display: flex;
  align-items: start;
  justify-content: center;
}

.project_pic > img {
  height: 52%;
  width: 80%;
  border-radius: 10px;
  box-shadow: -6px -6px 10px 10px rgba(52, 53, 55, 0.7),
    6px 6px 10px 10px #070708;
}

.hashtags {
  color: var(--ecv-green);
  letter-spacing: 2px;
}
